<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ict602individualassignment">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="BMI Recorder"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.ICT602IndividualAssignment">
        <activity
            android:name=".AboutPage"
            android:exported="false" />
        <activity
            android:name=".ViewBMI"
            android:exported="false" />
        <activity
            android:name=".EditBMI"
            android:exported="false" />
        <activity
            android:name=".AddBMI"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="BMI Recorder"
            android:theme="@style/Theme.ICT602IndividualAssignment.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>